body {
    font-family: 'Arial', sans-serif;
    padding: 10px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center; /* Center all text and elements */
}

h1 {
    font-size: 1.5em;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

input[type="number"] {
    width: 100px; /* Set input width to 100px */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    margin: 0 auto; /* Center the input */
}

button {
    width: 50%; /* Button width */
    padding: 6px; /* Reduced padding */
    margin: 5px auto; /* Center buttons */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em; /* Slightly smaller font */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#start {
    background-color: #28a745; /* Green */
}

#stop {
    background-color: #dc3545; /* Red */
}

#reset {
    background-color: #007bff; /* Blue */
}

button:hover {
    transform: scale(1.05);
}

#status {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}
